
header, footer {
  width: 100%;
  height: 150px;
  border: solid 4px grey;
  clear: both;
}

.col1, .col2, .col3, .col4 {
  height: 750px;
  box-sizing: border-box;
  border: solid 2px grey;
  float: left;
}

.col1 {
  width: 18%;
  border-color: green;
  float: left;
}

.col2 {
  width: 46%;
  float:left;
}

.col3, .col4 {
  width: 18%;
  float:left;
}